<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <script src="js/jquery-2.2.0.js"></script>
    <script src="js/app.js"></script>
    <script>
      Vidius.getAccessToken().done(function() {
      console.log('Hooray, authed');
      Vidius.getMarkdownFiles().done(function(files) {
          console.log(files);

          });

          });

    </script>
  </head>
  <body>
  Hello.
  </body>
</html>
