body {
  font-family: Helvetica Neue, sans-serif;
}

#file-list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.selected {
  font-weight: bold;
}

textarea {
  font-size: inherit;
  height: 400px;
  width: 400px;
}
