body {
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background: #0072c6;
  color: #fff;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
}

header h1 {
  float: left;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

header p {
  float: right;
  line-height: 36px;
  margin: 0;
}

header a {
  color: inherit;
}

#file-list {
  border: 2px solid #666;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 400px;
}

#file-list li {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 6px 10px 5px;
}

#file-list li:last-child {
  border-bottom: 0;
  padding-bottom: 6px;
}

#file-list li:hover {
  background-color: #e6f1f9;
}

.selected {
  background-color: #e6f1f9;
  font-weight: bold;
}

textarea {
  font-size: inherit;
  height: 400px;
  width: 400px;
}
